:root {
  --text-color: #757575;
  --main-color: #212121;
  --logo-first-color: #000000;
  --link-color: #2196F3;
  --text-color-light: #FFFFFF;
  --backgroud-color-dark: #2F303A;
  --backgroud-color-light: #F5F4FA;
  --main-background-color: #E5E5E5;

}

/* common styles */
body {
  font-family: 'Roboto',
  sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
 
/* header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-first-color);
}
.logo-span {
  color: var(--link-color);
}
.menu-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.menu-link-header,
.menu-mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.menu-link-studio:hover,
.menu-link-studio.focus,
.menu-link:hover,
.menu-link:focus,
.menu-phone:hover,
.menu-phone:focus,
.menu-mail:hover,
.menu-mail:focus,
.menu-mail-portfolio:hover,
.menu-mail-portfolio:focus {
  color: var(--link-color);
}
.menu-phone{
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
 
/* main */
.our-team {
  background-color: var(--backgroud-color-light);
}
.section-list {
  list-style: none;
}
.hero-section {
background-color: var(--backgroud-color-dark);
}
.main-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-light);
}
.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  color: var(--text-color-light);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}

.section-list-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.section-list-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.our-team-member {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.occupation {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* Footer */
.footer-section {
  background-color: var(--backgroud-color-dark);
  text-decoration: none;
  }
.logo-span-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}
.address-list {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  text-decoration: none;
}

.contact-mail,
.contact-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list:hover,
.address-list:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--link-color);
}
 /* Portfolio */

.portfolio-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--main-color);
border: 0px;
cursor: pointer;
}
.btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: var(--link-color);
  border: 0px;
  cursor: pointer;
}
.menu-mail-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
color: var(--backgroud-color-light);
background-color: var(--link-color);
}
.project-list-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.project-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}